<div class="caption" *ngFor="let caption of captions">
    <div [style.marginTop]="caption.y+'px'" [style.marginLeft]="caption.x+'px'">{{caption.value}}</div>
</div>
<img [src]="'assets/momos/'+momosrc" alt="" (click)="logItAll($event)">