.hidden{
    display: none;
}

.odioLv8{
    background: black;
    color: yellow;
}

.odioLv10{
    background: black;
    color: red;
    border: 2px solid red;
}

app-meme-generator{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
    width: 75VW;
    display: flex;
}