<!--h1>Bievenidos a {{title}}</h1>
<h2 [class.hidden]="isHidden">Podemos continuar?</h2>
<h3 *ngIf="estoySolito">Ex-novio</h3>
<button (click)="showToggle($event)">{{btnLabel}}</button>
<button (click)="changeRelationshipStatus($event)">{{exBtn}}</button>

<div class="buitres" [(class)]="delDiablo" *ngFor="let buitre of buitreMsgs">Te odio {{buitre.nombre}}</div>

<input type="text" [value]="delDiablo" (keyup)="update($event)">
<input type="text" [ngModel]="delDiablo"-->

<app-meme-generator></app-meme-generator>