app-meme{
    border: 1px solid rgba(0,0,0,0.2);
    flex-grow: 1;
}
#controls{
    flex-grow: 1;
}
.carruselMomos{
    height: 50px;
    overflow: hidden;
    display: flex;
}
.carruselMomos .momito{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.carruselMomos .momito img{
    width: 100%;
    height: 100%;
}