<app-meme [momosrc]="selectedMomo.src" [captions]="selectedMomo.captions"></app-meme>
<div id="controls">
    <div class="carruselMomos">
        <div class="momito" *ngFor="let momo of momoService.momos" (click)="changeMomo($event)">
            <img [src]="'assets/momos/'+momo.src" [id]="momo.id" alt="">
        </div>
    </div>
    <div *ngFor="let caption of selectedMomo.captions; let i = index;">
        Caption {{i+1}}: <input type="text" [value]="selectedMomo.captions[i]['value']" (keyup)="updateCaption($event,i)">
    </div>
</div>