body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

app-root{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}